track_memory {
  // 1. Pasangan Standar C
  pair {
    allocator: "malloc"
    deallocator: "free"
  }

  pair {
    allocator: "calloc"
    deallocator: "free"
  }
  
  // 2. Pasangan Custom (Untuk test2.c)
  // Kita tambahkan ini agar DSL mengenali fungsi Anda
  pair {
    allocator: "my_alloc"
    deallocator: "my_free"
  }

  // 3. Aturan Transfer Ownership
  transfer_ownership: ["StorePointerInGlobalList"]
}